<!DOCTYPE html>
<html lang="en">
<head>
 {%include 'bootstrap.html'%}
  <title>Application Submitted</title>
</head>
<body>
 {%include 'nav.html'%}
  {%include 'banner.html'%}
  <div class="container">
     <h1 class="text-center mt-2 mb-4">Sujata Careers</h1> 
    <p class="container text-center mt-2 mb-4">Your Application for the role of  <b>"{{job['title']}}"</b> has been Submitted</p>




    
<h4 class="mb-0">Full Name : </h4>
<div class="mb-4">
  {{application['full_name']}}
</div>
<h4 class="mb-0">Email : </h4>
<div class="mb-4">
  {{application['email']}}
</div>

<h4 class="mb-0">LinkedIn URL : </h4>
<div class="mb-4">
  {{application['linkedin_url']}}
</div>

<h4 class="mb-0">Education : </h4>
<div class="mb-4">
  {{application['education']}}
</div>

<h4 class="mb-0">Work Experience : </h4>
<div class="mb-4">
  {{application['work_experience']}}
</div>

<h4 class="mb-0">Resume URL : </h4>
<div class="mb-0">
  {{application['resume_url']}}
</div>
  </div>
{%include 'footer.html'%}
</body>
</html>